<!DOCTYPE html>
<html>
  <head>
    <title>Search Page</title>
    <link rel="stylesheet" href="css\style.css">
  </head>
  <body>
    <div style="text-align:center;">
      <h1>Search Pass Number</h1>
      <form action="/" method="post">
        <input type="text" name="search" placeholder="Code Number...">
        <br>
        <% if(status==null) { %>
          <span ></span>
          
        <% }else if(status.status=="Invalid") { %>
            <span style="color: red;"><%= status.msg %></span>
        <%}else if(status.status=="Success") { %>
            <span style="color: rgb(11, 235, 29);"><%= status.msg %>></span>
        <% }else if(status.status=="alredy_used") { %>
            <span style="color: red;"><%= status.msg %></span>
        <% }else{ %>
            <span></span>
        <% } %>
        <br>
        <button type="submit">Search</button>
      </form>
    </div>
    <br>
    <br>
    <br>
    <div><h2>Total coupons <br>availed <br><%= count %>/1099</h2></div>
  </body>
</html>
